
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
  html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  justify-content: center;

  align-items: center;
}

/*css styling for menu text */
.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: Castellar;
    font-weight: bold;


}

.start_game {
    position: absolute;
    top: 28%;
    left: 50%;
    right: 10%;
    bottom: 64%;
    font-size: 26px;
    text-decoration: none;
    transform: translate(-50%, -50%);
}

#gameOver {
    position: absolute;
    visibility: hidden;
    top: 52%;
}

#menuButton {
    border: none;
    background-color: #e7e7e7;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

#highScores {
    position: absolute;
    visibility: hidden;
    top: 58%;
}

#scoresButton {
    border: none;
    background-color: #e7e7e7;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.highscores {
  position: absolute;
  top: 38%;
  left: 50%;
  right: 10%;
  bottom: 160%;
  font-size: 26px;
  text-decoration: none;
  transform: translate(-50%, -50%);
}

.credits {
  position: absolute;
  top: 54%;
  left: 45%;
  right: 70%;
  bottom: 50%;
  font-size: 26px;
  text-decoration: none;
  transform: translate(-50%, -50%);
}

.start_game:hover {
  text-decoration: underline;
  /* playSound(); */ 
}

.highscores:hover {
  text-decoration: underline;
}

.credits:hover {
  text-decoration: underline;
}
